<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.min.css?v={% version %}">
        <link rel="stylesheet" href="/static/tailwind.css?v={% version %}">
        <script type="module" src="/static/min.app.js?v={% version %}" defer></script>
        <title>About</title>
    </head>
    <body>
        <h1>About-Page</h1>
        <h2 class="text-green-300">Just an H2</h2>
        <a href="/">Link to home</a>
    </body>
</html>